{:paths ["src" "test"]
 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://clojars.org/repo"}}
 :deps
 {thheller/shadow-cljs {:mvn/version "2.18.0"}
  org.clojure/clojure {:mvn/version "1.10.3"}
  org.clojure/clojurescript {:mvn/version "1.11.4"}
  com.google.javascript/closure-compiler-unshaded {:mvn/version "v20220301"}

  ; camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.0"}
  ; district0x/bignumber {:mvn/version "1.0.3"}
  ; binaryage/oops {:mvn/version "0.7.2"}
  ; is.mad/cljs-web3-next {:mvn/version "0.0.3"}
  ; is.mad/cljs-web3-next {:local/root "/home/madis/code/district0x/cljs-web3-next"}
  io.github.district0x/cljs-web3-next {:mvn/version "0.2.0-SNAPSHOT"}
  }
 :aliases
 {:dev {:extra-deps {day8.re-frame/test {:mvn/version "0.1.5"}}}
  :build {:deps {io.github.clojure/tools.build {:tag "v0.8.1" :sha "7d40500"}
                          slipset/deps-deploy {:mvn/version "RELEASE"}}
                   :ns-default build}
           :deploy {:replace-deps {slipset/deps-deploy {:mvn/version "RELEASE"}}
                    :exec-fn deps-deploy.deps-deploy/deploy}}
 }
